<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        
        <script type="text/javascript" src="/js/moment.js"></script>
        <script type="text/javascript" src="/js/axios.js"></script>
        <link rel="stylesheet" href="/static/css/main.css" />
        
    </head>
    <body>
        <div id="wrapper">
            <header>
                
            </header> 
            <main>
                <div class="container" >
                    <%- body %>
                </div>
            </main>
            <footer>
                <div class="row" style="height:50px;">
                    <!-- footer -->
                </div>
            </footer>
            <%- script %>
        </div>
    </body>
</html>
